$color-white: #ffffff;
$color-lightgray: #fafafa;
$color-gray: #cecece;
$color-darkgray: #555555;
$color-lightblack: #212121;
$color-black: #000000;

$color-blue: #34e7e4;
$color-orange: #ff5e57;
$color-yellow: #ffd32a;
$color-green: #0be881;

$color-ikura: #eb3802;
$color-uni: #f58e0f;
$color-mayocorn: #ffd32a;
$color-shirasu: #cdcecd;
$color-negitoro: #f4a592;

$mobile: 480px;
$tablet: 768px;
$pc: 1080px;